/* usuario.css */
.container {
  padding: 20px;
}

.header-button {
  text-align: right;
  margin-bottom: 20px;
}

.button {
  background-color: #154780;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.table th {
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
}

.table tbody tr {
  border-bottom: 1px solid #ddd;
}

.table-actions {
  display: flex;
  gap: 10px;
}

.button-eliminar {
  background-color: #f44336;
}

@media (max-width: 768px) {
  /* Adaptar los filtros a pantallas pequeñas */
  .table {
    font-size: 12px;
  }

  .table th, .table td {
    padding: 8px;
  }

  .button {
    width: 100%;
    padding: 12px;
  }

  .table-actions {
    flex-direction: column;
    gap: 5px;
  }

  .button-eliminar, .button {
    width: 100%;
  }

  .header-button {
    text-align: center;
  }
}

/* Media Queries para pantallas pequeñas (smartphones) */
@media (max-width: 480px) {
  .table th, .table td {
    font-size: 10px;
    padding: 5px;
  }

  .button {
    padding: 8px;
    font-size: 12px;
  }

  .table-actions {
    flex-direction: column;
  }

  .button-eliminar, .button {
    padding: 8px;
    font-size: 12px;
  }
}
