.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
.homepage-content {
    max-width: 800px;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }
  

.homepage-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000000;
  }
  
  
.homepage-text {
    font-size: 1.25rem;
    line-height: 1.75;
    margin-bottom: 30px;
    color: #000000;
  }
  
  
.homepage-subtitle {
    font-size: 1.75rem;
    font-weight: 600;
    color: #000000;
  }
  
  
.rescue {
    color: #ff0000; 
  }
  
  .track {
    color: #000000; 
  }
  