/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  /* Estilos para cada tarjeta de mantención */
  .card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Títulos y subtítulos dentro de la tarjeta */
  .card-title {
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .card p {
    margin: 5px 0;
    color: #555;
  }
  
  .card table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .card table th,
  .card table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .card table th {
    background-color: #f1f1f1;
    font-weight: bold;
    color: #333;
  }
  
  .card table td {
    color: #444;
  }

  .export-button{
    background-color: #154780;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .card {
      padding: 15px;
    }
  }
  